extends layouts/default

block content
	p
		| Next trains from BRI to STJ (last updated at
		span.lastUpdated
		| ):
	table.table.table--bordered
		thead
			th Time
			th Estimated
			th Platform
			th Operator
		tbody.trainTimetable