extends layouts/default

block content
	p.l-mb0
		| Next trains from BRI to STJ
	p.l-mb0
		small
			| last updated at
			span.lastUpdated
	table.table.trainTimetable
		thead
			th Operator
			th Platform
			th Estimated
			th Time
		tbody.trainTimetable-contents